<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container mt-3">
    <h2>Add New Member</h2>
    <div class="alert alert-primary" role="alert" th:text="${Success}" th:if="${Success}"></div>
    <div class="alert alert-primary" role="alert" th:text="${Error}" th:if="${Error}"></div>
    <form th:object="${addKaryawan}" method="post" th:action="@{/save}">
        <div class="form-group">
            <label>NIP</label>
            <input type="text" class="form-control" th:field="*{nip}">
        </div>
        <div class="form-group">
            <label>Nama</label>
            <input type="text" class="form-control" th:field="*{nama}">
        </div>
        <div class="form-group">
            <label>Alamat</label>
            <input type="text" class="form-control" th:field="*{alamat}">
        </div>
        <div class="form-group">
            <label>Jenis Kelamin</label>
            <input type="text" class="form-control" th:field="*{jenis_kelamin}">
        </div>
        <div class="form-group">
            <label>No Telpon</label>
            <input type="number" class="form-control" th:field="*{no_telp}">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" th:field="*{email}">
        </div>
        <div class="form-group">
            <label>Departement</label>
            <input type="text" class="form-control" th:field="*{departement}">
        </div>
        <div class="form-group">
            <label>Jabatan</label>
            <input type="text" class="form-control" th:field="*{jabatan}">
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

</body>
</html>